body {
    font-family: 'Arial', sans-serif;
    background: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #333;
}

header {
   background: linear-gradient(0deg, rgb(0, 0, 0), rgb(123, 16, 16));
    color: #FFFFFF;
    padding: 10px 0;
    position: relative;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    max-height: 100px; /* Ajusta el tamaño de la imagen del logo */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
    text-align: center;
}


nav ul li a {
    color: white;
    text-decoration: none;
    
}

.menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
}
.color-contacto{
    background-color: #ffffff;
}
.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgb(0, 0, 0), rgb(123, 16, 16));
    transition: left 0.3s ease;
    z-index: 1000;
}

.mobile-menu.open {
    left: 0;
}

.mobile-menu .back-arrow {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 28px;
    cursor: pointer;
    color: rgb(249, 249, 249);
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-menu ul li {
    padding: 10px;
    border-bottom: 1px solid white;
    width: 100%;
    text-align: center;
}

.mobile-menu ul li a {
    color: rgb(241, 233, 233);
    text-decoration: none;
    display: block;
    font-size: 24px;
}

.mobile-menu:hover  {
    color: rgb(7, 0, 0);
    text-decoration: none;
    display: block;
    font-size: 24px;
}
.hero {
    position: relative;
background: url('https://i.postimg.cc/sgPG8Fb2/grua-1.jpg') no-repeat center center/cover;

    color: white;
    text-align: center;
    padding: 100px 20px;
    
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1; /* Asegura que el overlay esté debajo del contenido */
}

.hero .hero-content {
    position: relative;
    z-index: 2; /* Asegura que el contenido esté encima del overlay */
}

.hero-content h2 {
    margin: 0;
    font-size: 28px;
    margin-top: 50px;
}

.hero-content h1 {
    margin: 10px 0 0;
    font-size: 48px;
}

.about-section, .services-section, .mission-section, .vision-section {
    padding: 40px 0;
    background: white;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.services-section .service {
    margin-bottom: 20px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    nav {
        display: none;
    }

    .mobile-menu {
        display: block;
    }
}
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #05a841; /* Color verde de WhatsApp */
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.whatsapp-button img {
    width: 50px; /* Ajusta el tamaño del icono */
    height: 50px;
}

.whatsapp-button:hover {
    background-color: #128C7E; /* Color verde más oscuro de WhatsApp al pasar el ratón */
}
.centrar{
    text-align: center;
}
.centrar-letra {
    text-align: center;
}


/* footerr */
footer a {
    text-decoration: none;
    color: inherit;
}

footer a:hover,
footer a:focus {
    text-decoration: none;
    outline: none;
}

/* footerr */
.color-header{
    
    color: white; /* Color del texto */
    background-color: transparent; /* Fondo transparente */
    text-decoration: none; /* Sin subrayado */
}

.color-header:hover {
    border: 2px solid white;
    border-radius: 15px; /* Ajusta el valor para hacer el borde más o menos redondo */
    padding: 5px 10px; /* Ajusta el padding para hacer el borde más ancho o estrecho */
    background-color: white; /* Color de fondo al pasar el ratón */
    color: rgb(0, 0, 0); /* Color del texto al pasar el ratón */
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
}
.cta-button {
    background-color: #242f3b; /* Color de fondo */
    color: white; /* Color del texto */
    border: 2px solid white; /* Bordes blancos */
    border-radius: 25px; /* Bordes redondeados */
    padding: 10px 30px; /* Tamaño del botón */
    font-size: 16px; /* Tamaño del texto */
    text-align: center;
    text-decoration: none;
    margin-top: 20px; /* Espacio arriba del botón */
    transition: background-color 0.3s, transform 0.3s;
    display: inline-block;
    cursor: pointer;
}

.cta-button:hover {
    background-color: #cf1818; /* Color de fondo al pasar el ratón */
    transform: scale(1.05); /* Efecto al pasar el ratón */
    color: #000000;
}